{% extends "network/layout.html" %}

{% block body %}

    {% if profile %}

    

        <!-- follow/unfollow -->   
        {% if user.is_authenticated and profile.user.username != request.user.username %}
            <form action="{% url 'profile' profile.user.username %}" method="post">
                {% csrf_token %}

                    <input class="btn btn-info" type="submit" name="follow" value="follow">

                    <input class="btn btn-info" type="submit" name="unfollow" value="unfollow">

            </form>
        {% endif %}

        <!-- profile -->   
        <div>
            following: {{ profile.following.count }}
            <br>
            followers: {{ profile.followers }}
        </div>

    {% else %}

        <div>
            <!-- NEW POST FIELD -->    
            {% if user.is_authenticated %}

                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <label>{{ form.content.label }}</label>
                    <div>{{ form.content }}</div>
                    <input type="submit" value="Post">
                </form>
            
            {% else %}
                You need to log in for writing a new Post.<br>
                Log in <a href="{% url 'login' %}">here</a>.
            {% endif %}

        </div>
        
    {% endif %}

    <!-- Posts -->   
    <div>

        {% if posts %}

            <!-- LOAD ALL POSTS -->
            {% for item in posts %}
                <br>
                <div>
                    <div>
                        <a href={% url 'profile' item.user.username %}>{{ item.user.username}}</a>
                    </div>
                    <div>
                        {{ item.content }}                    
                    </div>
                    <div>
                        {{ item.posted }}
                    </div>
                    <div>
                        {{ item.likes }} likes
                    </div>
                </div>
                <br>
            {% endfor %}

        {% else %}

            No Posts

        {% endif %}

    </div>

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}