{% extends "network/layout.html" %}

{% block body %}


    {% csrf_token %}


    {% if profile %}

    

        <!-- follow/unfollow -->   
        {% if user.is_authenticated and profile.user.username != request.user.username %}
            <form action="{% url 'profile' profile.user.username %}" method="post">
                {% csrf_token %}

                    <input class="btn btn-info" type="submit" name="follow" value="follow">

                    <input class="btn btn-info" type="submit" name="unfollow" value="unfollow">

            </form>
        {% endif %}

        <!-- profile -->   
        <div>
            following: {{ profile.following.count }}
            <br>
            followers: {{ profile.followers }}
        </div>

    {% else %}

        <div>
            <!-- NEW POST FIELD -->    
            {% if user.is_authenticated %}

                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    
                    <label>{{ form.content.label }}</label>
                    <div>{{ form.content }}</div>
                    <input type="submit" value="Post">
                </form>
            
            {% else %}
                You need to log in for writing a new Post.<br>
                Log in <a href="{% url 'login' %}">here</a>.
            {% endif %}

        </div>
        
    {% endif %}

    <!-- Posts -->   
    <div>

        {% if posts %}
            <div id="posts_frame">
                <!-- LOAD ALL POSTS -->
                {% for post in posts %}
                    <br>
                    <div id="frame_{{post.id}}">
                        <div>
                            <a href={% url 'profile' post.user.username %}>{{ post.user.username}}</a>
                        </div>
                        <div id="content_{{post.id}}">
                            {{ post.content }}                  
                        </div>
                        {% if user.is_authenticated and user.id == post.user_id %}
                            <button id="edit_{{post.id}}" type="button" name="edit">Edit</button>
                        {% endif %}                                                 
                        <div id="timestamp_{{post.id}}">
                            {{ post.posted }}
                        </div>
                        <div id="likes_{{post.id}}">
                            {{ post.likes }} likes 
                            <button id="like_{{post.id}}" type="button" name="like">&#10084;</button>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        {% else %}

            No Posts

        {% endif %}

    </div>




    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}