{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- Create new post -->  
    <div id="post_container">
  
        {% if user.is_authenticated %}

            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <label>{{ form.content.label }}</label>
                <div>{{ form.content }}</div>
                <input type="submit" value="Post">
            </form>
        
        {% else %}

            <div>
                You need to log in for writing a new Post.
                <a href="{% url 'login' %}">Log in</a><br>
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>

        {% endif %}

    </div>

    {% if profile %}

        <!-- profile -->
        <div>
            <div id="profile_name">
                {{ profile.user.username }}
            </div>
            <div id="profile_following">
                following: {{ profile.following.count }}
            </div>
            <div id="profile_followers">
                followers: <span id="followers">{{ profile.followers }}</span>
            </div>

            {% if user.is_authenticated and profile.user.username != request.user.username %}

                <div>
                    <button class="btn btn-info" type="button" id="follow_button" name="follow">Follow</button>
                </div>

            {% endif %}

        </div>
    
    {% endif %}

    <!-- Posts -->   
    <div id="posts_frame" class="grid-container">

        {% if posts %}

            <!-- LOAD ALL POSTS -->
            {% for post in posts %}

                <div id="frame_{{post.id}}" class="grid-item">
                    <div class="post_username">
                        <a href={% url 'profile' post.user.username %}>{{ post.user.username|title}}</a> posted:
                    </div>
                    <div class="post_content_frame">
                        <div id="content_{{post.id}}" class="post_content">
                            {{ post.content }}                  
                        </div>

                        {% if user.is_authenticated and user.id == post.user_id %}

                            <button id="edit_{{post.id}}" type="button" name="edit">Edit</button>

                        {% endif %} 

                    </div>
                    <div id="timestamp_{{post.id}}" class="post_time">
                        {{ post.posted }}
                    </div>
                    <div id="likes_{{post.id}}" class="post_likes">
                        <span id="count_{{post.id}}">{{ post.likes }}</span> likes 
                        
                        {% if post.id in liked %}
                            <button id="like_{{post.id}}" type="button" name="like">unlike</button>
                        {% else %}
                            <button id="like_{{post.id}}" type="button" name="like">like</button>
                        {% endif %}

                    </div>
                </div>

            {% endfor %}


        {% else %}

            No posts.

        {% endif %}

    </div>    

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">

            {% if posts.has_previous %}

                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>

            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}

                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>

            {% endif %}
            
        </span>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/buttonevents.js' %}"></script>
{% endblock %}
