#post_container {
    height: 200px;
    border: 1px solid black;
    margin: 50px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;


    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    width: 532px;
    height: 332px;
    margin: 50px;

    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
}

.post_username {
    font-size: large;
    font-weight: bold;
}

.post_content_frame {

}

.post_content {
    background-color: ghostwhite;
    word-break: break-word;
    width: 490px;
    margin: 5px 0px 15px 0px;
}

.post_time {
    
}

.post_likes {
    
}

/* 
01234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678912
*/