textarea {
    resize: none;
}

#post_container {
    height: 200px;
    border: 1px solid black;
    margin: 50px;
    padding: 20px;
    box-shadow: 1px 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
    background-color: lightskyblue;
}

.grid-item {
    width: 542px;
    height: 322px;
    margin: 50px;
    background-color: ivory;
    padding: 20px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px;
}

.post_header, .post_footer {
    display: grid;
    grid-template-columns: auto auto;
}

.post_username {
    font-size: large;
    font-weight: bold;
}

.post_editbutton, .post_time {
    text-align: right;
}

.post_time {
    font-style: italic;
}

.post_content {
    background-color: ghostwhite;
    word-break: break-word;
    width: 500px;
    height: 174px;
    margin: 5px 0px 15px 0px;
    padding: 5px;
    border-radius: 5px;
}

.post_like_counter {
    padding-left: 5px;
    font-size: 22px;
    font-weight: bolder;
}

.btn-default {
    margin-bottom: 10px;
    margin-left: -12px;
    outline: none;
}

.btn-default:focus {
    box-shadow: none; 
}

#edit_content {
    width: 100%;
    height: 100%;
}

.pagination {
    margin-left: 48%;
    font-weight: bold;
}

#profile_frame {
    border: 1px solid black;
    padding: 20px;
}

#profile_name {
    font-size: x-large;
    font-weight: bolder;
}



/* 
01234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678912
*/